h1 {
    text-transform: capitalize;
}
.p_pertama {  
    text-align: justify;
}
#p_kedua {
    text-decoration: underline;
}
*{  
color: white;
background-color: green;
}
.p_ketiga{
     text-align: center;
}
.p_keempat{
    text-align: center;
    }
.p_kelima{
    text-decoration: line-through
}